async-timeout==4.0.2
certifi==2021.10.8
charset-normalizer==2.0.12
coreapi==2.3.3
coreschema==0.0.4
Deprecated==1.2.13
Django==1.11
django-debug-toolbar==1.9.1
django-redis==4.8.0
djangorestframework==3.8.2
hiredis==0.2.0
idna==3.3
importlib-metadata==4.8.3
itypes==1.2.0
Jinja2==3.0.3
MarkupSafe==2.0.1
mistune==2.0.2
packaging==21.3
Pympler==0.5
PyMySQL==1.0.2
pyparsing==3.0.7
pytz==2022.1
redis==4.2.2
requests==2.27.1
sqlparse==0.4.2
typing_extensions==4.1.1
uritemplate==4.1.1
urllib3==1.26.9
wrapt==1.14.0
zipp==3.6.0
